.title{
    text-align: center;
    font-family: 'Times New Roman', Times, serif, monospace;
    font-size: 25px; 
}
.contact{
    font-family: 'Times New Roman', Times, serif, monospace;
    font-size: 5px;
}
.name{
    font-family: 'Times New Roman', Times, serif, monospace;
    font-size: 25px;
}
.button{
    width: 400px;
    height: 110px;
    border-radius: 2%;
}
.fact{
    font-family: 'Times New Roman', Times, serif, monospace;
    font-size: 20px; 
}